@import 'bootstrap/dist/css/bootstrap.min.css';

.footer {    position: absolute;    
bottom: 0;    
width:100%;   
 height: 40px;   
 background-color: rgba(37, 102, 223, 0.397);    
text-align: center;    
color: white;}
