<nav class="navbar navbar-expand-sm navbar-dark sukatech-navbar">
  <div class="container-fluid">
    <a routerLink="inicio" class="navbar-brand fw-bold text-uppercase">Sukatech</a>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a routerLink="inicio" routerLinkActive="active" class="nav-link">Início</a>
        </li>

        <li class="nav-item">
            <a routerLink="aluno-lista" routerLinkActive="active" class="nav-link">Alunos</a>
        </li>

        <li class="nav-item">
            <a routerLink="turmas" routerLinkActive="active" class="nav-link">Turmas</a>
        </li>

        <li class="nav-item">
            <a routerLink="cursos-mestre" routerLinkActive="active" class="nav-link">Cursos Mestre</a>
        </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
      <span>Sukatech • Plataforma Educacional</span>
  </div>
</footer>